pyc
__pycache__

.vscode

map_cache
cache
results/*
runs/*
checkpoints/*
logs/*
fastrlap-release/*
datasets/*
src/logs/*
src/checkpoints/*
best_models/*
src/checkpoints/*
src/logs/*
best_models/*
evaluation_trajectory/*
experiment_results/*
*.pth
*.zip
