pyc
__pycache__

.vscode

map_cache
cache
results/*
runs/*
checkpoints/*
logs/*
fastrlap-release/*
datasets/*
datasets/*
src/logs/*
src/checkpoints/*
best_models/*
src/checkpoints/*
src/logs/*
best_models/*
success_rate_results/*
evaluation_trajectory/*
experiment_results/*
*.pth
*.zip
topomap/*
*.pth
*.pkl
*.jpg
evaluation_trajectory/*
evaluation_trajectories/*
*.zip
results/*
logs_car_racing/*
*.pickle
*.pdf
.devcontainer/*
.idea/*
best_models/*