[submodule "dependencies/jaxrl2"]
	path = dependencies/jaxrl2
	url = https://github.com/StepLogic/jaxrl2.git
[submodule dependencies/"pyflann"]
	path = dependencies/pyflann
	url = https://github.com/StepLogic/pyflann.git

[submodule "dependencies/rlib-integration"]
	path = dependencies/rlib-integration
	url = https://github.com/StepLogic/rlib-integration.git

# [submodule "navigation_policies"]
# 	path = dependencies/navigation_policies
# 	url = https://github.com/StepLogic/navigation_policies.git

# [submodule "diffusion_policy"]
# 	path = dependencies/diffusion_policy
# 	url = https://github.com/real-stanford/diffusion_policy.git
[submodule "dependencies/navigation_policies"]
	path = dependencies/navigation_policies
	url = https://github.com/StepLogic/navigation_policies.git

[submodule "dependencies/diffusion_policy"]
	path = dependencies/diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
