pyc
__pycache__

.vscode

map_cache
cache
results/*
runs/*
checkpoints/*
logs/*
fastrlap-release/*
datasets/*
topomap/*
*.pth
*.pkl
*.jpg
evaluation_trajectory/*
evaluation_trajectories/*
*.zip
results/*